# <a id='toc1_'></a>[JO 2024 project](#toc0_)

**Table of contents**<a id='toc0_'></a>    
- [JO 2024 project](#toc1_)    
  - [Prelude](#toc1_1_)    
  - [Imports](#toc1_2_)    
  - [Fonctions](#toc1_3_)    
  - [Data collect](#toc1_4_)    
    - [Extract one country data](#toc1_4_1_)    
    - [Extract All countries data](#toc1_4_2_)    
    - [Extract all data](#toc1_4_3_)    

<!-- vscode-jupyter-toc-config
	numbering=false
	anchor=true
	flat=false
	minLevel=1
	maxLevel=6
	/vscode-jupyter-toc-config -->
<!-- THIS CELL WILL BE REPLACED ON TOC UPDATE. DO NOT WRITE YOUR TEXT IN THIS CELL -->

## <a id='toc1_1_'></a>[Prelude](#toc0_)

Work in progress . . .  

Summarize about the project :
- Data source : <a href="https://www.olympic.org/news">International Olympic Committee</a>
- Data extract from : <a href="http://olympanalyt.com/OlympAnalytics.php">olympanalyt.com - mail : sportsencyclo@gmail.com</a>

## <a id='toc1_2_'></a>[Imports](#toc0_)

In [2]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

## <a id='toc1_3_'></a>[Fonctions](#toc0_)

In [3]:
def GetHTML(url) :
    """
    Needs : url website
    Return : HTML text
    """
    response = requests.get(url)

    if response.status_code == 200 :
        print("Response OK, continue.")
    else :
        print("Access impossible.")
    
    return response.text

In [4]:
def Getdataframe(html) :

    """
    Needs : HTML text 
            with response = requests.get(url).text
    Return : Dataframe with athlete AND sport description : medal, country, athlete_name, games, sport, event
    Requirement : Must to apply on website like : adress[COUNTRY]adress
                i.e : http://olympanalyt.com/OlympAnalytics.php?param_pagetype=Medals&param_dbversion=&param_country=[COUNTRY]&param_games=ALL&param_sport=ALL
    """

    # Converting text (html) in soup (text parsed)
    soup = BeautifulSoup(html, "html5lib") #parse

    # Finding the correct table according to description
    table = soup.find("table", class_="simpletable", style="text-align:left;")

    # Retrieving the list (find_all) of all rows
    rows = table.find_all("tr")

    # Creating the table (future dataframe)
    athletes = []

    # For each row (= athlete)
    for row in rows:
        #describe_athlete = row.text.split() # Get the text
        cells = row.find_all("td") # Retrieving the list (find_all) of all cells in the row

        if len(cells) == 7: # If there are 7 cells then it's an athlete
            medal = cells[0].find('img')['title'][0]  # Medal title
            country = cells[1].find('img')['title']  # Athlete's country
            athlete_name = str(cells[2]).replace("<br/>","/").replace("</td>","").replace("<td>","") # Athlete's name, splitted by "/" if it's a team
            games = cells[3].find('img')['title']  # Olympic Games
            sport = cells[4].find('img')['title']  # Sport
            sex = cells[5].text.strip()  # Sex
            event = cells[6].text.strip()  # Event

            # Add the information to the list of athletes
            athletes.append({
                'medal': medal,
                'country': country,
                'athlete_name': athlete_name,
                'games': games,
                'sport': sport,
                'event': event,
                'sex' : sex
                })

        else: # Otherwise it's not an athlete, move to the next row
            next

    return pd.DataFrame(athletes)

url = "http://olympanalyt.com/OlympAnalytics.php?param_pagetype=Medals&param_dbversion=&param_country=FRA&param_games=ALL&param_sport=ALL"
# Try with one country - FRA (France)
html = GetHTML(url)

Getdataframe(html)

Response OK, continue.

,medal,country,athlete_name,games,sport,event,sex
0,1,France,Paul MASSON,Greece,Cycling Track,sprint individual,Men's
1,1,France,Paul MASSON,Greece,Cycling Track,1/3km time trial,Men's
2,1,France,Paul MASSON,Greece,Cycling Track,10km,Men's
3,1,France,Léon FLAMENG,Greece,Cycling Track,100km,Men's
4,1,France,Eugène-Henri GRAVELOTTE,Greece,Fencing,foil individual,Men's
...,...,...,...,...,...,...,...
884,2,France,SIMON Julia/FILLON MAILLET Quentin/CHEVALIER-B...,China,Biathlon,Relay mix,Mixed
885,2,France,LEDEUX Tess,China,Freestyle Skiing,Big air,Women's
886,2,France,TRESPEUCH Chloe,China,Snowboard,Snowboard Cross,Women's
887,3,France,FAIVRE Mathieu,China,Alpine Skiing,giant slalom,Men's
888,3,France,LAPALUS Hugo/MANIFICAT Maurice/JOUVE Richard/P...,China,Cross Country Skiing,4x10km relay,Men's

## <a id='toc1_4_'></a>[Data collect](#toc0_)

### <a id='toc1_4_1_'></a>[Extract one country data](#toc0_)

In [5]:
url = "http://olympanalyt.com/OlympAnalytics.php?param_pagetype=Medals&param_dbversion=&param_country=FRA&param_games=ALL&param_sport=ALL"

In [6]:
# Try with one country - FRA (France)
html = GetHTML(url)

Response OK, continue.

In [7]:
# Try to get the DF on one country - FRA (France)
df_medalists = Getdataframe(html)

df_medalists.sample(5)

,medal,country,athlete_name,games,sport,event,sex
70,2,France,TRINITE/Louis DUFFOY/Léon MOREAUX/Achille PARO...,France,Shooting,"50m army pistol, team",Men's
441,1,France,Pascale TRINQUET-HACHIN/Veronique BROUQUIER/Br...,USSR,Fencing,foil team,Women's
276,1,France,Louis HOSTIN,Germany,Weightlifting,75 - 82.5kg (light-heavyweight),Men's
112,3,France,SAUTREAU,France,Croquet,individual 2 balls,Mixed
305,2,France,André JOUSSEAUMÉ,Great Britain,Equestrian Dressage,individual,Mixed

### <a id='toc1_4_2_'></a>[Extract All countries data](#toc0_)

Scrape countries codes to loop on each of them (website url modification)  
Link of countries codes : <a href="http://olympanalyt.com/OlympAnalytics.php?param_pagetype=RefCountries&param_dbversion=&param_country=CIV&param_games=ALL&param_sport=ALL"> Countries list</a>

In [8]:
# Countries list
url = "http://olympanalyt.com/OlympAnalytics.php?param_pagetype=RefCountries&param_dbversion=&param_country=CIV&param_games=ALL&param_sport=ALL"

html = GetHTML(url)

Response OK, continue.

In [9]:
# Parsing text in Beautifulsoup object
soup = BeautifulSoup(html, "html5lib")

In [10]:
# Select the right table
table = soup.find_all("table", class_="simpletable", style="text-align:center;")[1] # 2nd table
rows = table.find_all("tr")
countries = []

for row in rows[2:]: # ignore the column names
    data = row.text.split()

    if len(data) == 5 :
        countries.append(
            {
                'Code':data[0], 
                'Country':data[1], 
                'Continent':data[2], 
                'Firstparticipation':data[3], 
                'Lastparticipation':data[4]
            }
        )
    else :
        next

df_countries = pd.DataFrame(countries)

In [11]:
df_countries.sample(5)

    Code    Country Continent Firstparticipation Lastparticipation
107  MRI  Mauritius    Africa               1984              2021
52   SWZ   Eswatini    Africa               1972              2021
47   DMA   Dominica   America               1996              2021
33   CAN     Canada   America               1900              2022
45   DEN    Denmark    Europe               1896              2022

### <a id='toc1_4_3_'></a>[Extract all data](#toc0_)

In [12]:
# Run scraping on all countries 
code_countries = df_countries["Code"]

i = 0
for country, country_name in zip(code_countries, df_countries["Country"]) :
    url = "http://olympanalyt.com/OlympAnalytics.php?param_pagetype=Medals&param_dbversion=&param_country=" + country + "&param_games=ALL&param_sport=ALL"
    html = GetHTML(url)
    df_temp = Getdataframe(html)
    if i == 0 :
        df_olympic = df_temp
        i += 1
    else : 
        df_olympic = pd.concat([df_olympic, df_temp], ignore_index=True)

    #Delete these codes after tries
    i += 1
    if i > 20 :
        break

    print("for : {}".format(country_name))

Response OK, continue.
for : Afghanistan
Response OK, continue.
for : Albania
Response OK, continue.
for : Algeria
Response OK, continue.
for : Andorra
Response OK, continue.
for : Angola
Response OK, continue.
for : Antigua,
Response OK, continue.
for : Argentina
Response OK, continue.
for : Armenia
Response OK, continue.
for : Aruba
Response OK, continue.
for : Australia
Response OK, continue.
for : Austria
Response OK, continue.
for : Azerbaijan
Response OK, continue.
for : Bahamas
Response OK, continue.
for : Bahrain
Response OK, continue.
for : Bangladesh
Response OK, continue.
for : Barbados
Response OK, continue.
for : Belarus
Response OK, continue.
for : Belgium
Response OK, continue.
for : Belize
Response OK, continue.

In [13]:
df_olympic.sample(15)

,medal,country,athlete_name,games,sport,event,sex
433,2,Australia,Сьюзан О'Нейл,Australia,Swimming,200m butterfly,Women's
1190,1,Belarus,Hanna HUSKOVA,Korea Republic,Freestyle Skiing,aerials,Women's
671,3,Australia,SEEBOHM Emily,Japan,Swimming,200m backstroke,Women's
685,2,Austria,Karl RUBERL,France,Swimming,200m backstroke,Men's
64,3,Argentina,Daniel Jorge CASTELLANI/Hugo Nestor CONTE/Raul...,Korea Republic,Volleyball,volleyball,Men's
91,1,Argentina,Lange/Carranza Saroli,Brazil,Sailing,Nacra 17 - Multihull,Mixed
741,1,Austria,Trude JOCHUM-BEISER,Switzerland,Alpine Skiing,Alpine combined,Women's
921,1,Austria,Кейт Аллен,Greece,Triathlon,individual,Women's
388,3,Australia,Бешель/Гиль,United States,Sailing,two-person keelboat (Star),Mixed
260,1,Australia,Thomas ANDERSON/John SHAW/John Bruce CUNEO,Germany,Sailing,dragon,Mixed
572,2,Australia,Brittany BROBEN,Great Britain,Diving,10m platform,Women's
1263,3,Belgium,Willy DE L'ARBRE/Henri WEEWAUTERS/Albert GRISA...,Belgium,Sailing,8m (rating 1919),Mixed
1094,2,Bahrain,GEZAHEGNE Kalkidan,Japan,Athletics,10000m,Women's
316,1,Australia,Kathleen Anne PARTRIDGE/Michelle Edith CAPES-H...,Korea Republic,Hockey,hockey,Women's
679,3,Australia,COADY Tess,China,Snowboard,Slopestyle,Women's

In [14]:
df_olympic.event.unique()

array(['- 58 kg', '58 - 68 kg', '71 - 75kg (middleweight)',
       '75 - 81kg (light-heavyweight)', '1500m',
       '54 - 57kg (featherweight)', '57 - 60kg (lightweight)', '5000m',
       '800m', 'high jump', '60 - 63.5kg (light-welterweight)',
       '81 - 90kg (middleweight)', '48 - 52kg (half-lightweight)', 'polo',
       'triple jump', '57.15 - 61.24kg (lightweight)',
       '61.24 - 66.68kg (welterweight)',
       '53.52 - 57.15kg (featherweight)',
       '66.68 - 72.57kg (middleweight)',
       '72.57 - 79.38kg (light-heavyweight)', '+ 79.38kg (heavyweight)',
       '400m freestyle', 'football', 'foil team', 'marathon',
       '100m freestyle', 'pair without coxswain (2-)',
       '- 51kg (flyweight)', '+ 80kg (heavyweight)', 'long jump', '6m',
       '25m rapid fire pistol', '73 - 80kg (light-heavyweight)',
       'double sculls (2x)', '67 - 71kg (light-middleweight)',
       '+ 90kg (heavyweight)', 'dragon', 'individual',
       '63.5 - 67kg (welterweight)', 'single sculls (1x)', 'singles',
       'volleyball', 'doubles', 'board (Mistral) - Windsurfer', 'hockey',
       '470 - Two Person Dinghy', 'single-handed dinghy (Europe)',
       'basketball', 'Tornado - Multihull', '400m individual medley',
       'Madison', '- 48kg (extra-lightweight)', '68 - 80 kg',
       'Nacra 17 - Multihull', 'rugby-7', '48 - 52kg (flyweight)',
       '- 48kg (light-flyweight)', '69 - 77kg (middleweight)',
       '77 - 85kg (light-heavyweight)', '- 55kg', '96 - 120kg',
       '66 - 74kg', '84 - 96kg', '98kg', '94 - 105kg (heavyweight)',
       '+ 105kg (super heavyweight)', '66kg', '109kg', '97kg',
       '57 - 63kg (lightweight)', 'vault', '200m freestyle',
       '200m obstacle event', '60m', '100m', '200m', '220y freestyle',
       '440y freestyle', '880y freestyle (804.66m)', '1 mile freestyle',
       '3000m walk', '4x200m freestyle relay', '1500m freestyle',
       'plain high diving', '1km time trial', '200m breaststroke',
       '100m backstroke', '79 - 87kg (light-heavyweight)', '4x100m relay',
       '67 - 73kg (welterweight)', '80m hurdles', '+ 87kg (heavyweight)',
       '2000m tandem', 'sprint individual', 'eight with coxswain (8+)',
       '60 - 67.5kg (lightweight)', '4x100m freestyle relay',
       '4x400m relay', 'sharpie 12m2', '10000m', 'K-2 10000m', '5.5m',
       'team', '20km walk', '200m butterfly', '4x100m medley relay',
       '51 - 54kg (bantamweight)', '100m butterfly', '400m',
       'open category', 'two-person keelboat (Star)',
       '200m individual medley', 'individual road race', '800m freestyle',
       '100m breaststroke', 'Finn - One Person Dinghy (Heavyweight)',
       'K-1 500m (kayak single)', '200m backstroke', 'heptathlon',
       'Team Pursuit (4000m)', '+ 110kg (super heavyweight)',
       'quadruple sculls without coxswain',
       '75 - 82.5kg (light-heavyweight)', 'shot put',
       'K-2 1000m (kayak double)', 'four-oared shell with coxswain',
       '25m pistol', '400m hurdles', 'K-1 1000m (kayak single)',
       'individual pursuit', 'four without coxswain (4-)',
       'K-1 (kayak single)', 'discus throw', 'K-4 1000m (kayak four)',
       'board (lechner)', '5000m relay', 'Double trap', 'Trap',
       'javelin throw', 'beach volleyball', 'K-2 500m (kayak double)',
       'points race', 'lightweight double sculls (2x)',
       '+ 108kg (super heavyweight)', 'softball', 'slalom',
       'individual (FITA Olympic round - 70m)', '- 49 kg', 'water polo',
       'pole vault', 'Keirin', '500m time trial',
       'lightweight coxless four (4-)', '+ 80 kg', 'Team Sprint',
       'synchronized diving 3m springboard',
       'synchronized diving 10m platform', '52 - 57kg (lightweight)',
       'single-handed dinghy (Laser)', '10m air pistol', 'aerials',
       '1000m', '10m platform', 'baseball', '20km race walk',
       'individual time trial', '50m freestyle', 'moguls', '50km walk',
       '100m hurdles', 'C-1 (canoe single)', 'K-4 500m (kayak four)',
       '50m rifle prone', 'Half-pipe', 'Laser - One Person Dinghy',
       '49er - Skiff', 'racing individual', 'Elliott 6m - match racing',
       'Omnium', 'individual competition',
       'team (FITA Olympic round - 70m)', 'Snowboard Cross',
       'freestyle park individual', 'Park', 'decathlon', 'marathon 10km',
       'Shortboard', 'mixed doubles', 'Slopestyle', '12-hour race',
       '500m freestyle', '1/3km time trial', '10km', '1000m freestyle',
       'sabre individual', 'sabre, masters', 'individual all-round',
       'combined 3 events', 'sabre team', 'foil individual',
       '- 60kg, one-two hand 5 events (featherweight)',
       '60 - 67.5kg, one-two hand 5 events (lightweight)',
       '+ 82.5kg, one-two hand 5 events (heavyweight)',
       '75 - 82.5kg, one-two hand 5 events (light-heavyweight)', 'pairs',
       '- 60kg (featherweight)', '67.5 - 75kg (middleweight)',
       '+ 87kg (super heavyweight)', 'folding K-1 10000m', 'K-1 10000m',
       'C-2 1000m (canoe double)', 'handball', 'C-2 10000m',
       'Alpine combined', 'downhill', 'giant slalom',
       '300m free rifle 3 positions', 'Normal Hill individual',
       'four-man', 'pentathlon', '50m pistol', 'Large Hill individual',
       '78 - 86kg (middleweight)', '10m air rifle',
       '60 - 65kg (half-lightweight)', 'super-G', 'Large Hill team',
       '3000m', '50m rifle 3 positions', '50km', 'giant-slalom',
       '30km mass start', '10km sprint', 'Individual sprint',
       '57 - 63kg (half-middleweight)', '50km mass start',
       'Giant parallel slalom', '- 60 kg', '12.5km pursuit',
       '4x7.5km relay', 'Ski Cross', 'parallel slalom', 'Big air',
       '20km individual', 'team relay', '63 - 70kg (middleweight)',
       '73 - 81kg (half-middleweight)', 'Kumite - 55kg',
       'Bouldering, Lead & Speed Combined',
       'Combined 7.5km + 7.5km mass start', 'Skeet', '- 54kg',
       '60 - 66kg', '48 - 51kg (flyweight)', '66 - 73kg (lightweight)',
       '90 - 100kg (half-heavyweight)', '- 48kg', '55 - 60kg',
       '74 - 84kg', '81 - 91kg (heavyweight)',
       '+ 91kg (super heavyweight)', '48 - 55kg',
       '60 - 64kg (light-welterweight)', 'C-1 200m (canoe single)',
       '65kg', '69 - 75kg (middleweight)', 'K-1 200m (kayak single)',
       '57kg', '74kg', '86kg', '53kg', '130kg', 'Kumite - 75kg',
       'Kumite + 61kg', '+ 78kg (heavyweight)', '50kg', '77kg',
       '3000m steeplechase', '7.5km sprint',
       '100 - 130kg (super heavyweight)', '90 - 100kg (heavyweight)',
       'parallel bars', 'horizontal bar', '74 - 82kg (middleweight)',
       'group competition', 'hammer throw', '56 - 62kg (featherweight)',
       '62 - 69kg (lightweight)', '97 - 130kg',
       '58 - 63kg (middleweight)', '15km individual',
       'K-2 200m (kayak double)', '10km pursuit', '12.5km mass start',
       '85 - 94kg (middle-heavyweight)', '69 - 75kg (heavyweight)',
       '63kg', '125kg', '85kg', '4x6km relay', 'au chapelet, 33m',
       'au cordon doré, 33m', 'sur la perche à la herse',
       'long jump individual', 'Four-in-Hand Mail Coach',
       'au cordon doré, 50m', 'Championnat Du Monde',
       'sur la perche à la pyramide', 'high jump individual',
       'army rifle, 300m, 3 positions', 'army rifle, 300m, standing',
       '50y army pistol, team', '20km', 'épée team', 'épée individual',
       'fixed bird target large bird', 'fixed bird target small bird',
       'fixed bird target large bird teams',
       'fixed bird target small bird teams', 'moving bird target 28m',
       'moving bird target 33m', 'moving bird target 33m teams',
       'moving bird target 50m teams', '6m (rating 1907)',
       '- 60kg, one-two hand 3 events (featherweight)',
       'figure riding individual', 'figure riding team',
       'moving bird target 50m', 'moving bird target 28m teams',
       'team competition', '6m (rating 1919)', 'clay pigeons, team',
       '60 - 67.5kg, one-two hand 3 events (lightweight)',
       'team time trial', 'team, Swedish system', '8m (rating 1919)',
       'tug of war', 'olympic class monotype', '72 - 79kg (middleweight)',
       '- 56kg (bantamweight)', 'pair-oared shell with coxswain',
       '58 - 62kg (lightweight)', '57 - 63kg (featherweight)',
       '86 - 95kg (half-heavyweight)', '61 - 66kg (middleweight)',
       '66 - 72kg (half-heavyweight)', '56 - 61kg (half-middleweight)',
       '+ 95kg (heavyweight)', '52 - 56kg (lightweight)', 'cross-country',
       'Laser Radial - One Person Dinghy', 'Mass start', 'uneven bars'],
      dtype=object)

:

To do :
- Get simple sport list
- Get simple event list (weight, lenght, heigh, etc. split ?)
- Look for empty name (sometimes filled with country name)